*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
   padding: 32px;
}

input[type=file]{
    display: none;
}

label{
    background-color: #3ac;
    padding: 16px 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

label i{
    font-size: 12px;
}

.feather {
    width: 16px;
    height: 16px;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }